:root {
    --primary-color: #ff56cc;
    --secondary-color: #60214d;
}

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

nav .logo {
    color: var(--primary-color);
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}



.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;

}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/flowers.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main h2 {
    font-size: 3.5rem;
    color: var(--secondary-color);
}